.my_meta_control .description
{ display:none; }
 
.my_meta_control label
{ color: #333; display:block; font-weight:bold; margin:3px; margin-bottom:0; margin-top:12px; }
 
.my_meta_control label span
{ display:inline; font-weight:normal; }

.my_meta_control.side  { line-height:1.75; }
.my_meta_control.side label span { display: block; line-height:normal; margin-left:0; padding-bottom:5px; }
.my_meta_control.side input[type="checkbox"], .my_meta_control.side input[type="radio"] { margin-left: 10px; }

.my_meta_control span
{ color:#999; display:inline; margin-left:6px; clear:right; line-height: 2em; }
 
.my_meta_control textarea, .my_meta_control input[type='text']
{ margin-bottom:3px; width:50%; float:left; }
 
.my_meta_control h4
{ color:#464646; font-size:1em; margin:15px 6px; text-transform:uppercase; }

#poststuff .inside .my_meta_control p 
{ clear:both; /*overflow: auto; */ }

.wpa_group 
{ }

/*---------Buttons--------------*/

.wpa_group p .remove { display: block; float: right; right:0px; top:-5px; position:relative; margin-left:10px; }
.wpa_loop p .remove, .wpa_loop .remove { float: left; position:static; margin-left: 0; margin-bottom: 10px; }
.wpa_group p .add-another { }

.wpa_group > p.add-another-button
{ margin-bottom:15px; padding-top:5px; }

#wpa_loop-links .wpa_group div.remove-button { display: inline-block; clear: left; margin-bottom: 10px; margin-top: 10px;
} 
.remove-all-button a { float: right; position: relative; display: inline; top: 0px; margin-bottom: -20px; }


/*---------Repeating Groups-----------*/
#wpa_loop-links .wpa_group-links,
#wpa_loop-event_staff .wpa_group-event_staff,
#wpa_loop-people .wpa_group-people,
#wpa_loop-nonstaff .wpa_group-nonstaff,
#wpa_loop-imgs .wpa_group-imgs,
#wpa_loop-docs .wpa_group-docs,
#wpa_loop-imguploads .wpa_group-imguploads, 
#wpa_loop-fileuploads .wpa_group-fileuploads
{ float:left; width:300px; margin-right: 20px; }


.wpa_group-links input[type=text], 
.wpa_group-event_staff input[type=text], 
.wpa_group-people input[type=text], 
.wpa_group-nonstaff input[type=text], 
.wpa_group-imgs input[type=text],
.wpa_group-docs input[type=text],
.wpa_group-imguploads input[type=text], 
.wpa_group-fileuploads input[type=text]
{ width: 275px; margin-right: 10px; display:inline; margin-top: 0px; }

.wpa_group-links, 
.wpa_group-event_staff, 
.wpa_group-people,
.wpa_group-nonstaff,
.wpa_group-imgs,
.wpa_group-docs,
.wpa_group-imguploads, 
.wpa_group-fileuploads
{ margin-bottom: 10px; padding:10px 10px 0px 10px; border: 1px solid #999; }

/*---------Custom-----------*/
#wpcontent #wpa_loop-staff select { width: 150px; }

#poststuff .inside .internal p
{ overflow: auto; width: 33%; clear:none; float:left; }

.my_meta_control textarea, .internal input[type='text']
{ margin-bottom:3px; float:left; }

/*---------Repeating Dates-----------*/
.wpa_group-dates .dates-span { display: inline; width: 200px; height: 40px; } 
#poststuff .inside .my_meta_control .dates-span p { clear: none; display: inline; }
.my_meta_control .dates-span label { display: inline; margin-right: 10px; } 
.my_meta_control .dates-span input[type='text'] { float: none; width: 150px; } 


/*--------- JS -----------*/
#_project_details_metabox .wpa_group-links .handle, #_project_details_metabox .wpa_group-people .handle { width: 20px; height:20px; margin-bottom: -20px; left: -20px; top: -20px; position: relative; background: url(../images/arrow-handle.png) no-repeat center center; }

.my_meta_control label.inline { display: inline; font-weight: normal; }
#_event_details_metabox .my_meta_control input[type="text"] { float: none; width: 150px; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
