@charset "UTF-8";
/* Admin Styles */

.column-featured_thumbnail { width: 125px; }
.column-featured_thumbnail img { height: 50px; width: 111px; }

.column-person_thumbnail { width: 65px; }

.icon32.icon32-posts-people { background: url(../admin/images/icon-person32.png) no-repeat center center !important; }
.icon32.icon32-posts-project { background: url(../admin/images/icon-project32.png) no-repeat center center !important; }
.icon32.icon32-posts-job { background: url(../admin/images/icon-job32.png) no-repeat center center !important; }
.icon32.icon32-posts-podcast { background: url(../admin/images/icon-podcast32.png) no-repeat center center !important; } .icon32.icon32-posts-event { background: url(../admin/images/icon-event32.png) no-repeat center center !important; }